/* body {
    background-image: url("fireplace.jpg");
    background-position-x: 100px;

    background-color: #474545;
   } */

   .authentication-card {
       margin: 100px;
       color: black
   }

   .authentication-btns {
       font-size: 20px;
       color: black
   }